<!doctype html>
<html lang="en">
<% include ../partials/head.ejs %>
<body>
<header>
    <h1>Sasson Writer's Workshop</h1>
</header>
<% include ../partials/nav.ejs %>
<main>
    <section class="section-header">
        <h2><a href="/my-stories" class="back">Back to My Stories</a></h2>
    </section>
    <section class="section-block" style="width: 100%;">
        <h3><%= story.title %></h3>
        <h4><span class="strong"><a href="" class="category-link"> <%= story.category %></a></span> &mdash; Added <%= moment(story.created).format("MMM Do, YYYY") %></h4>
        <p><%- story.content.replace(new RegExp('\n', 'g'), '<br>')%></p>
    </section>
    <section class="section-subheader">
        <h3>Reviews</h3>
    </section>
    <% for(i=0; i<reviews.length; i++) {%>
    <section class="section-block">
        <div class="review-header">
            <h4>Written by <span class="strong"><a class="username-link"><%= reviews[i].fname %> <%= reviews[i].lname %></a></span></h4>
        </div>
        <div class="review-comment">
            <p><%- reviews[i].content.replace(new RegExp('\n', 'g'), '<br>')%></p>
        </div>
    </section>
    <%}%>
</main>
<% include ../partials/footer.ejs%>
</body>
</html>